body
{
    color: #333333;
    font-family: sans-serif;
    margin:0 auto;
    max-width:900px;
    padding: 10px 20px; 

    display: flex; 
    flex-direction: column;
    min-height: 100vh; /*view port height: 100-represents entire view port*/

}

.potray
{
    width:500px;
    height:300px; 
}

.main-content
{
    flex-grow: 1;   
}

footer
{
    color: #888888;
    margin: 40px 0;
    padding: 40px 0;
    border-top: 1px solid #eeeeee;
}

header{
    margin-top: 16px;
    margin-bottom: 30px;
}

header h1{
     margin-bottom: 10px;
     font-size:64px;
}
header a{
    color: #888888;
    text-decoration: none;

}

input{
    border: 1px solid #cccccc;
    padding:10px;
}

button{
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
}

.quotesPage{
    margin: 50px 0px 20px 0px;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    width: 100%;
    height: 150px;
    position: relative;
}

#author{
    color: darkgray;
}

#getQuote{
    padding: 20px 30px 20px 30px;
    background-color: darkgray;
    position: fixed;
    border-radius: 10px;
    left:46%;
    bottom:20%;
}