<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="./css/styles.css"/>
<link rel="icon" href="./img/weather.png" />
<title>{{title}}</title>
<script src="./js/app.js"></script>
</head>

<body>
<div class="main-content">
{{>header}}

<div class = "quotesPage">
<p id="mainQuote"></p>
<p id="author"></p>
</div>

<button id="getQuote">-- Inspire me --</button>
</div>

{{>footer}}
<script src='./js/quoteApp.js'></script>
</body>

</html>